<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCau4Zw0DsW-Do1WD0WH_yRrp_tp9MO3nw</string>
	<key>GCM_SENDER_ID</key>
	<string>892810906966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.keener.tasks.silio.tasksApp</string>
	<key>PROJECT_ID</key>
	<string>tasks-app-keener</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-app-keener.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892810906966:ios:d60f9ea40f33762bc59af7</string>
</dict>
</plist>